---
services:
  perception_bringup:
    build:
      context: ..
      dockerfile: docker/perception/perception.Dockerfile
      cache_from:
        - "${PERCEPTION_IMAGE:?}:build_${TAG}"
        - "${PERCEPTION_IMAGE:?}:build_main"
      target: deploy
    image: "${PERCEPTION_IMAGE:?}:${TAG}"
    command: /bin/bash -c "ros2 launch perception_bringup perception_launch.yaml"
    # volumes:
    #   - /mnt/wato-drive2/perception_models:/perception_models
