---
services:
#################### INFRASTRUCTURE SERVICES ####################
  infrastructure_source:
    profiles: ["infrastructure-pre"]
    extends:
      file: docker-compose.yaml
      service: infrastructure_source

  infrastructure_deps:
    profiles: ["infrastructure-pre"]
    extends:
      file: docker-compose.yaml
      service: infrastructure_deps

  zenoh_router:
    profiles: ["infrastructure"]
    extends:
      file: docker-compose.yaml
      service: zenoh_router

  foxglove:
    profiles: ["infrastructure"]
    extends:
      file: docker-compose.yaml
      service: foxglove

  log_viewer:
    profiles: ["infrastructure"]
    extends:
      file: docker-compose.yaml
      service: log_viewer

#################### INTERFACING SERVICE ####################
  interfacing_source:
    profiles: ["interfacing-pre"]
    extends:
      file: docker-compose.yaml
      service: interfacing_source

  interfacing_deps:
    profiles: ["interfacing-pre"]
    extends:
      file: docker-compose.yaml
      service: interfacing_deps

  interfacing_bringup:
    profiles: ["interfacing"]
    extends:
      file: docker-compose.yaml
      service: interfacing_bringup

#################### PERCEPTION SERVICE ####################
  perception_source:
    profiles: ["perception-pre"]
    extends:
      file: docker-compose.yaml
      service: perception_source

  perception_deps:
    profiles: ["perception-pre"]
    extends:
      file: docker-compose.yaml
      service: perception_deps

  perception_bringup:
    profiles: ["perception"]
    extends:
      file: docker-compose.yaml
      service: perception_bringup

#################### WORLD MODELING SERVICE ####################
  world_modeling_source:
    profiles: ["world_modeling-pre"]
    extends:
      file: docker-compose.yaml
      service: world_modeling_source

  world_modeling_deps:
    profiles: ["world_modeling-pre"]
    extends:
      file: docker-compose.yaml
      service: world_modeling_deps

  world_modeling_bringup:
    profiles: ["world_modeling"]
    extends:
      file: docker-compose.yaml
      service: world_modeling_bringup

#################### ACTION SERVICE ####################
  action_source:
    profiles: ["action-pre"]
    extends:
      file: docker-compose.yaml
      service: action_source

  action_deps:
    profiles: ["action-pre"]
    extends:
      file: docker-compose.yaml
      service: action_deps

  action_bringup:
    profiles: ["action"]
    extends:
      file: docker-compose.yaml
      service: action_bringup

#################### SIMULATION SERVICES ####################
  carla_sim:
    profiles: ["simulation"]
    extends:
      file: docker-compose.yaml
      service: carla_sim

  carla_ros_bridge:
    profiles: ["simulation"]
    extends:
      file: docker-compose.yaml
      service: carla_ros_bridge

  carla_viz:
    profiles: ["simulation"]
    extends:
      file: docker-compose.yaml
      service: carla_viz

  carla_sample_node:
    profiles: ["simulation"]
    extends:
      file: docker-compose.yaml
      service: carla_sample_node

  carla_notebooks:
    profiles: ["simulation"]
    extends:
      file: docker-compose.yaml
      service: carla_notebooks
