---
services:
#################### INFRASTRUCTURE SERVICE ####################
  infrastructure_bringup_dev:
    profiles: ["infrastructure_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: infrastructure_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${INFRASTRUCTURE_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/infrastructure:/ws/src/infrastructure
      - ${MONO_DIR}/bags:/ws/bags

#################### INTERFACING SERVICE ####################
  interfacing_bringup_dev:
    profiles: ["interfacing_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: interfacing_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${INTERFACING_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/interfacing:/ws/src/interfacing
      - ${MONO_DIR}/bags:/ws/bags

#################### PERCEPTION SERVICE ####################
  perception_bringup_dev:
    profiles: ["perception_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: perception_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${PERCEPTION_IMAGE:?}:dep_${TAG}"
    runtime: nvidia
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/perception:/ws/src/perception
      - ${MONO_DIR}/bags:/ws/bags
      - ${MONO_DIR}/models:/ws/models
      - ${MONO_DIR}/models:/workspaces/deep_ros
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

#################### WORLD_MODELING SERVICE ####################
  world_modeling_bringup_dev:
    profiles: ["world_modeling_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: world_modeling_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${WORLD_MODELING_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/world_modeling:/ws/src/world_modeling
      - ${MONO_DIR}/bags:/ws/bags

#################### ACTION SERVICE ####################
  action_bringup_dev:
    profiles: ["action_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: action_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${ACTION_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/action:/ws/src/action
      - ${MONO_DIR}/bags:/ws/bags

#################### SIMULATION SERVICE ####################
  carla_sim:
    profiles: ["carla_gpu"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: carla_sim

  carla_sim_no_gpu:
    profiles: ["carla_no_gpu"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: carla_sim_no_gpu

  simulation_bringup_dev:
    profiles: ["simulation_dev"]
    extends:
      file: ${COMPOSE_EXTEND_FILE}
      service: simulation_bringup
    build:
      target: develop
      args:
        USERNAME: "${USERNAME}"
        USER_UID: "${SETUID}"
        USER_GID: "${SETGID}"
    image: "${SIMULATION_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/simulation:/ws/src/simulation
      - ${MONO_DIR}/bags:/ws/bags
