---
services:
#################### INFRASTRUCTURE SERVICES ####################
  infrastructure_source:
    profiles: ["infrastructure_pre"]
    build:
      context: ..
      dockerfile: docker/infrastructure.Dockerfile
      cache_from:
        - "${INFRASTRUCTURE_IMAGE:?}:source_${TAG}"
      target: source
    image: "${INFRASTRUCTURE_IMAGE:?}:source_${TAG}"

  infrastructure_deps:
    profiles: ["infrastructure_pre"]
    build:
      context: ..
      dockerfile: docker/infrastructure.Dockerfile
      cache_from:
        - "${INFRASTRUCTURE_IMAGE:?}:deps_${TAG}"
      target: dependencies
    image: "${INFRASTRUCTURE_IMAGE:?}:deps_${TAG}"

  zenoh_router:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${INFRASTRUCTURE_IMAGE:?}:source_${TAG}"
        MODULE_DEPS: "${INFRASTRUCTURE_IMAGE:?}:deps_${TAG}"
      cache_from:
        - "${INFRASTRUCTURE_IMAGE:?}:${TAG}"
        - "${INFRASTRUCTURE_IMAGE:?}:main"
      target: deploy
    image: "${INFRASTRUCTURE_IMAGE:?}:${TAG}"
    command: ros2 run rmw_zenoh_cpp rmw_zenohd
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}

  foxglove:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${INFRASTRUCTURE_IMAGE:?}:source_${TAG}"
        MODULE_DEPS: "${INFRASTRUCTURE_IMAGE:?}:deps_${TAG}"
      cache_from:
        - "${INFRASTRUCTURE_IMAGE:?}:${TAG}"
        - "${INFRASTRUCTURE_IMAGE:?}:main"
      target: deploy
    image: "${INFRASTRUCTURE_IMAGE:?}:${TAG}"
    command: bash -c "ros2 run topic_tools relay /tf /tf_new & ros2 launch foxglove_bridge foxglove_bridge_launch.xml port:=${FOXGLOVE_BRIDGE_PORT:?} send_buffer_limit_bytes:=${FOXGLOVE_BRIDGE_SEND_BUFFER_LIMIT_BYTES:?} && fg"
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

  log_viewer:
    container_name: watod_log_viewer
    build:
      context: ../watod_scripts/tools/log-viewer
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${LOG_VIEWER__PORT}:8888"

#################### INTERFACING SERVICE ####################
  interfacing_source:
    profiles: ["interfacing_pre"]
    build:
      context: ..
      dockerfile: docker/interfacing.Dockerfile
      cache_from:
        - "${INTERFACING_IMAGE:?}:source_${TAG}"
      target: source
    image: "${INTERFACING_IMAGE}:source_${TAG}"

  interfacing_deps:
    profiles: ["interfacing_pre"]
    build:
      context: ..
      dockerfile: docker/interfacing.Dockerfile
      cache_from:
        - "${INTERFACING_IMAGE:?}:deps_${TAG}"
      target: dependencies
    image: "${INTERFACING_IMAGE}:deps_${TAG}"

  interfacing_bringup:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    pull_policy: never
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${INTERFACING_IMAGE}:source_${TAG}"
        MODULE_DEPS: "${INTERFACING_IMAGE}:deps_${TAG}"
      cache_from:
        - "${INTERFACING_IMAGE}:${TAG}"
        - "${INTERFACING_IMAGE}:main"
      target: deploy
    image: "${INTERFACING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch interfacing_bringup interfacing_launch.yaml"
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

#################### PERCEPTION SERVICE ####################
  perception_source:
    profiles: ["perception_pre"]
    build:
      context: ..
      dockerfile: docker/perception.Dockerfile
      cache_from:
        - "${PERCEPTION_IMAGE:?}:source_${TAG}"
      target: source
    image: "${PERCEPTION_IMAGE:?}:source_${TAG}"

  perception_deps:
    profiles: ["perception_pre"]
    build:
      context: ..
      dockerfile: docker/perception.Dockerfile
      cache_from:
        - "${PERCEPTION_IMAGE:?}:deps_${TAG}"
      target: dependencies
    image: "${PERCEPTION_IMAGE:?}:deps_${TAG}"

  perception_bringup:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${PERCEPTION_IMAGE:?}:source_${TAG}"
        MODULE_DEPS: "${PERCEPTION_IMAGE:?}:deps_${TAG}"
      cache_from:
        - "${PERCEPTION_IMAGE:?}:${TAG}"
        - "${PERCEPTION_IMAGE:?}:main"
      target: deploy
    image: "${PERCEPTION_IMAGE:?}:${TAG}"
    command: /bin/bash -c "ros2 launch perception_bringup perception_launch.yaml"
    volumes:
      - /mnt/wato-drive2/perception_models:/perception_models
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

#################### WORLD MODELING SERVICE ####################
  world_modeling_source:
    profiles: ["world_modeling_pre"]
    build:
      context: ..
      dockerfile: docker/world_modeling.Dockerfile
      cache_from:
        - "${WORLD_MODELING_IMAGE:?}:source_${TAG}"
      target: source
    image: "${WORLD_MODELING_IMAGE}:source_${TAG}"

  world_modeling_deps:
    profiles: ["world_modeling_pre"]
    build:
      context: ..
      dockerfile: docker/world_modeling.Dockerfile
      cache_from:
        - "${WORLD_MODELING_IMAGE:?}:deps_${TAG}"
      target: dependencies
    image: "${WORLD_MODELING_IMAGE}:deps_${TAG}"

  world_modeling_bringup:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${WORLD_MODELING_IMAGE}:source_${TAG}"
        MODULE_DEPS: "${WORLD_MODELING_IMAGE}:deps_${TAG}"
      cache_from:
        - "${WORLD_MODELING_IMAGE}:${TAG}"
        - "${WORLD_MODELING_IMAGE}:main"
      target: deploy
    image: "${WORLD_MODELING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch world_modeling_bringup world_modeling.launch.py"
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

#################### ACTION SERVICE ####################
  action_source:
    profiles: ["action_pre"]
    build:
      context: ..
      dockerfile: docker/action.Dockerfile
      cache_from:
        - "${ACTION_IMAGE:?}:source_${TAG}"
      target: source
    image: "${ACTION_IMAGE}:source_${TAG}"

  action_deps:
    profiles: ["action_pre"]
    build:
      context: ..
      dockerfile: docker/action.Dockerfile
      cache_from:
        - "${ACTION_IMAGE:?}:deps_${TAG}"
      target: dependencies
    image: "${ACTION_IMAGE}:deps_${TAG}"

  action_bringup:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/template.Dockerfile
      args:
        MODULE_SOURCE: "${ACTION_IMAGE}:source_${TAG}"
        MODULE_DEPS: "${ACTION_IMAGE}:deps_${TAG}"
      cache_from:
        - "${ACTION_IMAGE}:${TAG}"
        - "${ACTION_IMAGE}:main"
      target: deploy
    image: "${ACTION_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch action_bringup action_launch.py"
    environment:
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

#################### SIMULATION SERVICES ####################
  carla_sim:
    image: carlasim/carla:0.9.13
    environment:
      - DISPLAY=1
      - CUDA_VISIBLE_DEVICES=0
      - NVIDIA_VISIBLE_DEVICES=0
    restart: always
    command: /bin/bash -c "./CarlaUE4.sh -nosound -carla-server -RenderOffscreen -world-port=2000 -quality-level=Low"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

  carla_ros_bridge:
    ulimits:
      memlock: -1
    ipc: host
    network_mode: host
    build:
      context: ..
      dockerfile: docker/simulation/carla_ros_bridge/carla_ros_bridge.Dockerfile
      cache_from:
        - "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE:?}:${TAG}"
        - "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE:?}:main"
      target: deploy
    image: "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE}:${TAG}"
    environment:
      - CARLA_HOSTNAME=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
      - USE_ACKERMANN_CONTROL=False
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ZENOH_ROUTER_CONFIG_URI=${ZENOH_ROUTER_CONFIG_URI}
      - ZENOH_SESSION_CONFIG_URI=${ZENOH_SESSION_CONFIG_URI}
    # command: /bin/bash -c "echo CARLA_ROS_BRIDGE disabled"
    command: /bin/bash -c "ros2 launch carla_config carla.launch.py"
    depends_on:
      zenoh_router:
        condition: service_started
        required: false

  carla_viz:
    build:
      context: ..
      dockerfile: docker/simulation/carla_viz/carla_viz.Dockerfile
      cache_from:
        - "${SIMULATION_CARLAVIZ_IMAGE:?}:${TAG}"
        - "${SIMULATION_CARLAVIZ_IMAGE:?}:main"
    image: "${SIMULATION_CARLAVIZ_IMAGE:?}:${TAG}"
    ports:
      - ${CARLAVIZ_PORT}:8080
      - ${CARLAVIZ_PORT_2}:8081
    environment:
      - CARLA_SERVER_HOST=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
      - CARLAVIZ_BACKEND_PORT=${CARLAVIZ_PORT_2}
    entrypoint: ["/bin/bash", "-c", "./docker/carlaviz_entrypoint.sh  > /dev/null 2>&1"]
    restart: always

  carla_notebooks:
    build:
      context: ..
      dockerfile: docker/simulation/carla_notebooks/carla_notebooks.Dockerfile
      cache_from:
        - "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:${TAG}"
        - "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:main"
    image: "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:${TAG}"
    ports:
      - ${CARLA_NOTEBOOKS_PORT:?}:${CARLA_NOTEBOOKS_PORT:?}
    environment:
      - CLIENT_NAME=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
      - SCENARIO_RUNNER_ROOT=/home/bolty/scenario_runner
      - DISPLAY=1
      - CUDA_VISIBLE_DEVICES=0
      - NVIDIA_VISIBLE_DEVICES=0
    container_name: ${COMPOSE_PROJECT_NAME:?}_carla_notebooks
    volumes:
      - ${MONO_DIR}/src/simulation/carla_notebooks:/home/bolty/carla_notebooks
    command: jupyter notebook --allow-root --ip=0.0.0.0 --port=${CARLA_NOTEBOOKS_PORT:?} --no-browser --ServerApp.token='' --ServerApp.password=''
