---
services:
#################### INTERFACING SERVICE ####################
  interfacing_bringup_dev:
    profiles: ["interfacing_dev"]
    extends:
      file: docker-compose.yaml
      service: interfacing_bringup
    build:
      target: develop
    image: "${INFRASTRUCTURE_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/interfacing:/home/bolty/ament_ws/src/interfacing
      - ${MONO_DIR}/bags:/home/bolty/ament_ws/bags


#################### PERCEPTION SERVICE ####################
  perception_bringup_dev:
    profiles: ["perception_dev"]
    extends:
      file: docker-compose.yaml
      service: perception_bringup
    build:
      target: develop
    image: "${PERCEPTION_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/perception:/home/bolty/ament_ws/src/perception
      - ${MONO_DIR}/bags:/home/bolty/ament_ws/bags

#################### WORLD_MODELING SERVICE ####################
  world_modeling_bringup_dev:
    profiles: ["world_modeling_dev"]
    extends:
      file: docker-compose.yaml
      service: world_modeling_bringup
    build:
      target: develop
    image: "${WORLD_MODELING_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/world_modeling
      - ${MONO_DIR}/bags:/home/bolty/ament_ws/bags

#################### ACTION SERVICE ####################
  action_bringup_dev:
    profiles: ["action_dev"]
    extends:
      file: docker-compose.yaml
      service: action_bringup
    build:
      target: develop
    image: "${ACTION_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/action:/home/bolty/ament_ws/src/action
      - ${MONO_DIR}/bags:/home/bolty/ament_ws/bags

#################### SIMULATION SERVICE ####################
  carla_sim:
    profiles: ["simulation_dev"]
    extends:
      file: docker-compose.yaml
      service: carla_sim
  
  simulation_bringup_dev:
    profiles: ["simulation_dev"]
    extends:
      file: docker-compose.yaml
      service: simulation_bringup
    build:
      target: develop
    image: "${SIMULATION_IMAGE:?}:dep_${TAG}"
    command: sleep infinity
    volumes:
      - ${MONO_DIR}/src/simulation:/home/bolty/ament_ws/src/simulation
      - ${MONO_DIR}/bags:/home/bolty/ament_ws/bags