---
services:
  foxglove:
    build:
      context: ..
      dockerfile: docker/infrastructure/infrastructure.Dockerfile
      cache_from:
        - "${INFRASTRUCTURE_IMAGE:?}:build_${TAG}"
        - "${INFRASTRUCTURE_IMAGE:?}:build_main"
      target: deploy
    image: "${INFRASTRUCTURE_IMAGE:?}:${TAG}"
    # command: ["ros2", "launch", "foxglove_bridge", "foxglove_bridge_launch.xml", "port:=${FOXGLOVE_BRIDGE_PORT:?}"]
    command: bash -c "ros2 run topic_tools relay /tf /tf_new & ros2 launch foxglove_bridge foxglove_bridge_launch.xml port:=${FOXGLOVE_BRIDGE_PORT:?} send_buffer_limit_bytes:=${FOXGLOVE_BRIDGE_SEND_BUFFER_LIMIT_BYTES:?} && fg"
    ports:
      - "${FOXGLOVE_BRIDGE_PORT:?}:${FOXGLOVE_BRIDGE_PORT:?}"

  log_viewer:
    container_name: watod_log_viewer
    build:
      context: ../watod_scripts/tools/log-viewer
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${LOG_VIEWER__PORT}:8888"
