---
services:
  perception_bringup:
    build:
      context: ..
      dockerfile: docker/perception/perception.Dockerfile
      cache_from:
        - "${PERCEPTION_IMAGE:?}:build_${TAG}"
        - "${PERCEPTION_IMAGE:?}:build_main"
      target: deploy
    image: "${PERCEPTION_IMAGE:?}:${TAG}"
    command: /bin/bash -c "ros2 launch perception_bringup perception_launch.yaml"
    volumes:
<<<<<<< HEAD
      - /mnt/wato-drive2/perception_models/yolov8m.pt:/perception_models/yolov8m.pt
      - /mnt/wato-drive2/perception_models/traffic_light.pt:/perception_models/traffic_light.pt
      - /mnt/wato-drive2/perception_models/traffic_signs_v0.pt:/perception_models/traffic_signs_v1.pt
      - /mnt/wato-drive2/perception_models/tensorRT.onnx:/perception_models/tensorRT.onnx
      - /mnt/wato-drive2/perception_models/tensorRT.engine:/perception_models/tensorRT.engine
      - /mnt/wato-drive2/perception_models/eve.onnx:/perception_models/eve.onnx
      
  lidar_object_detection:
    build:
      context: ..
      dockerfile: docker/perception/lidar_object_detection/lidar_object_detection.Dockerfile
      cache_from:
        - "${PERCEPTION_LIDAR_OBJECT_DETECTION_IMAGE}:build_${TAG}"
        - "${PERCEPTION_LIDAR_OBJECT_DETECTION_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_LIDAR_OBJECT_DETECTION_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch lidar_object_detection nuscenes_launch.py"
    volumes:
      - /mnt/wato-drive2/perception_models/transfusion_trained_model.pth:/home/bolty/OpenPCDet/models/transfusion_trained_model.pth

  semantic_segmentation:
    build:
      context: ..
      dockerfile: docker/perception/semantic_segmentation/semantic_segmentation.Dockerfile
      cache_from:
        - "${PERCEPTION_SEMANTIC_SEGMENTATION_IMAGE}:build_${TAG}"
        - "${PERCEPTION_SEMANTIC_SEGMENTATION_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_SEMANTIC_SEGMENTATION_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch semantic_segmentation eve.launch.py"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    volumes: 
      - /mnt/wato-drive2/perception-weights/semantic_segmentation/pp_liteseg_infer_model:/perception_models/semantic_segmentation/pp_liteseg_infer_model

  lane_detection:
    build:
      context: ..
      dockerfile: docker/perception/lane_detection/lane_detection.Dockerfile
      cache_from:
        - "${PERCEPTION_LANE_DETECTION_IMAGE}:build_${TAG}"
        - "${PERCEPTION_LANE_DETECTION_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_LANE_DETECTION_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch lane_detection eve.launch.py"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      - /mnt/wato-drive2/perception-weights/tensorrt_model/ultra_fast_lane_detection_v2/resource/model/ufldv2_culane_res34_320x1600.onnx:/models/ufldv2_culane_res34_320x1600.onnx

  bbox_2d_3d:
    build:
      context: ..
      dockerfile: docker/perception/bbox_2d_3d/bbox_2d_3d.Dockerfile
      cache_from:
        - "${PERCEPTION_BBOX_2D_3D_IMAGE}:build_${TAG}"
        - "${PERCEPTION_BBOX_2D_3D_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_BBOX_2D_3D_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch bbox_2d_3d bbox_2d_3d.launch.py"

  tracking:
    build:
      context: ..
      dockerfile: docker/perception/tracking/tracking.Dockerfile
      cache_from:
        - "${PERCEPTION_TRACKING_IMAGE}:build_${TAG}"
        - "${PERCEPTION_TRACKING_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_TRACKING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch dets_2d_3d dets_2d_3d.launch.py"
    
  depth_estimation:
    build:
      context: ..
      dockerfile: docker/perception/depth_estimation/depth_estimation.Dockerfile
      cache_from:
        - "${PERCEPTION_DEPTH_ESTIMATION_IMAGE}:build_${TAG}"
        - "${PERCEPTION_DEPTH_ESTIMATION_IMAGE}:build_main"
      target: deploy
    image: "${PERCEPTION_DEPTH_ESTIMATION_IMAGE}:${TAG}"
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - NVIDIA_VISIBLE_DEVICES=0
    command: /bin/bash -c "ros2 launch depth_estimation depth_estimation.launch.py"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    volumes:
      - /mnt/wato-drive2/perception_models/depth_anything_v2_large.pth:/perception_models/depth_anything_v2_large.pth
      - /mnt/wato-drive2/perception_models/depth_anything_v2_small.pth:/perception_models/depth_anything_v2_small.pth
=======
      - /mnt/wato-drive2/perception_models:/perception_models
>>>>>>> origin/main
