version: "3.8"

services:
  global_planning:
    build:
      context: ..
      dockerfile: docker/action/global_planning/global_planning.Dockerfile
      cache_from:
        - "${ACTION_GLOBAL_PLANNING_IMAGE}:build_${TAG}"
        - "${ACTION_GLOBAL_PLANNING_IMAGE}:build_main"
      target: deploy
    image: "${ACTION_GLOBAL_PLANNING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch global_planning global_planning.launch.py"

  behaviour_planning:
    build:
      context: ..
      dockerfile: docker/action/behaviour_planning/behaviour_planning.Dockerfile
      cache_from:
        - "${ACTION_BEHAVIOUR_PLANNING_IMAGE}:build_${TAG}"
        - "${ACTION_BEHAVIOUR_PLANNING_IMAGE}:build_main"
      target: deploy
    image: "${ACTION_BEHAVIOUR_PLANNING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch behaviour_planning behaviour_planning.launch.py"

  local_planning:
    build:
      context: ..
      dockerfile: docker/action/local_planning/local_planning.Dockerfile
      cache_from:
        - "${ACTION_LOCAL_PLANNING_IMAGE}:build_${TAG}"
        - "${ACTION_LOCAL_PLANNING_IMAGE}:build_main"
      target: deploy
    image: "${ACTION_LOCAL_PLANNING_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch local_planning local_planning.launch.py"

  model_predictive_control:
    build:
      context: ..
      dockerfile: docker/action/model_predictive_control/model_predictive_control.Dockerfile
      cache_from:
        - "${ACTION_MPC_IMAGE}:build_${TAG}"
        - "${ACTION_MPC_IMAGE}:build_main"
        target: deploy
    image: "${ACTION_MPC_IMAGE}:${TAG}"
    command: /bin/bash -c "ros2 launch model_predictive_control model_predictive_control.launch.py"
