version: "3.8"

services:
  carla_sim:
    image: carlasim/carla:0.9.13
    environment:
      - DISPLAY=1
      - CUDA_VISIBLE_DEVICES=0,1,2
      - NVIDIA_VISIBLE_DEVICES=0,1,2
    security_opt:
      - seccomp:${MONO_DIR}/modules/seccomp_profile.json 
    runtime: nvidia
    restart: always
    command: /bin/bash -c "./CarlaUE4.sh -nosound -carla-server -RenderOffscreen -world-port=2000 -quality-level=Low"
    
  carla_ros_bridge:
    build:
      context: ..
      dockerfile: docker/simulation/carla_ros_bridge/carla_ros_bridge.Dockerfile
      cache_from:
        - "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE:?}:${TAG}"
        - "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE:?}:main"
      target: deploy
    image: "${SIMULATION_CARLA_ROS_BRIDGE_IMAGE}:${TAG}"
    environment:
      - CARLA_HOSTNAME=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
      - USE_ACKERMANN_CONTROL=False
    security_opt:
      - seccomp:${MONO_DIR}/modules/seccomp_profile.json
    # command: /bin/bash -c "echo CARLA_ROS_BRIDGE disabled"
    command: /bin/bash -c "ros2 launch carla_config carla.launch.py"

  # carla_viz:
  #   build:
  #     context: ..
  #     dockerfile: docker/simulation/carla_viz/carla_viz.Dockerfile
  #     cache_from: 
  #       - "${SIMULATION_CARLAVIZ_IMAGE:?}:${TAG}" 
  #       - "${SIMULATION_CARLAVIZ_IMAGE:?}:main"
  #   image: "${SIMULATION_CARLAVIZ_IMAGE:?}:${TAG}"
  #   ports:
  #     - ${CARLAVIZ_PORT}:8080
  #     - ${CARLAVIZ_PORT_2}:8081
  #   environment:
  #     - CARLA_SERVER_HOST=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
  #     - CARLAVIZ_BACKEND_PORT=${CARLAVIZ_PORT_2}
  #   entrypoint: ["/bin/bash", "-c", "./docker/carlaviz_entrypoint.sh  > /dev/null 2>&1"]
  #   restart: always

  # carla_sample_node:
  #   build:
  #     context: ..
  #     dockerfile: docker/simulation/carla_sample_node/carla_sample_node.Dockerfile
  #     cache_from:
  #       - "${SIMULATION_CARLA_SAMPLE_NODE_IMAGE:?}:${TAG}"
  #       - "${SIMULATION_CARLA_SAMPLE_NODE_IMAGE:?}:main"
  #     target: deploy
  #   image: "${SIMULATION_CARLA_SAMPLE_NODE_IMAGE:?}:${TAG}"
  #   security_opt:
  #     - seccomp:${MONO_DIR}/modules/seccomp_profile.json
  #   # command: /bin/bash -c "echo CARLA_SAMPLE_NODE disabled"
  #   command: /bin/bash -c "ros2 launch carla_sample_node carla_sample_node.launch.py"

  # carla_notebooks:
  #   build:
  #     context: ../..
  #     dockerfile: docker/simulation/carla_notebooks/carla_notebooks.Dockerfile
  #     cache_from: 
  #       - "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:${TAG}"
  #       - "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:main"
  #   image: "${SIMULATION_CARLA_NOTEBOOKS_IMAGE:?}:${TAG}"
  #   ports:
  #     - ${CARLA_NOTEBOOKS_PORT:?}:${CARLA_NOTEBOOKS_PORT:?}
  #   environment:
  #     - CLIENT_NAME=${COMPOSE_PROJECT_NAME:?}-carla_sim-1
  #     - SCENARIO_RUNNER_ROOT=/home/bolty/scenario_runner
  #     - DISPLAY=1
  #     - CUDA_VISIBLE_DEVICES=0
  #     - NVIDIA_VISIBLE_DEVICES=1
  #   container_name: ${COMPOSE_PROJECT_NAME:?}_carla_notebooks
  #   volumes:
  #     - ${MONO_DIR}/src/simulation/carla_notebooks:/home/bolty/carla_notebooks
  #   command: jupyter notebook --allow-root --ip=0.0.0.0 --port=${CARLA_NOTEBOOKS_PORT:?} --no-browser --ServerApp.token='' --ServerApp.password=''
