# Because of cpplint's config file assumptions, this can't be contained in .config/ directory
linelength=256

filter=-legal/copyright
filter=-build/header_guard
filter=-build/c++17

# Disable all formatting checks, this is handled by clang-format
filter=-readability/braces
filter=-whitespace/braces
filter=-whitespace/indent
filter=-whitespace/newline
filter=-whitespace/parens
filter=-whitespace/semicolon

# Disable include order check; clang-format handles include sorting/regrouping
# and disagrees with cpplint on classification of headers like <Eigen/Eigen>
filter=-build/include_order

# Disable Google Test macro suggestions (CHECK_GT, CHECK_LE, etc.)
# We use Catch2, not Google Test, so these are false positives
filter=-readability/check
