uvicorn
--extra-index-url https://download.pytorch.org/whl
torch==1.9.0+cu111 
torchvision==0.10.0+cu111 
torchaudio==0.9.0
numpy==1.23
Pillow==8.3.2
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.9/index.html
detectron2==0.6
opencv-python
git+https://github.com/cocodataset/panopticapi.git
git+https://github.com/mcordts/cityscapesScripts.git
imutils
-f https://shi-labs.com/natten/wheels/cu111/torch1.9/index.html
natten==0.14.2
cython
setuptools==59.5.0
scipy
shapely
h5py
submitit
scikit-image
timm==0.4.12
einops
icecream
wandb
ftfy 
regex
inflect
diffdist
gdown
huggingface_hub
pytorch_lightning
tqdm
gradio==3.1.4
wget