<?xml version="1.0"?>
<robot name="eve_kia_soul_ev" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Base link (root of the robot) -->
  <link name="base_link"/>

  <!-- Include chassis -->
  <xacro:include filename="eve_chassis.xacro"/>

  <!-- Instantiate chassis with position relative to base_link -->
  <xacro:chassis parent="base_link">
    <origin xyz="-0.8629 0 0" rpy="0 0 0"/>
  </xacro:chassis>

  <!-- Include roof mount and sensors -->
  <xacro:include filename="eve_roof_mount.xacro"/>

  <!-- Instantiate roof mount with position relative to chassis -->
  <xacro:roof_mount parent="base_link">
    <origin xyz="0 0 1.76" rpy="0 0 0"/>
  </xacro:roof_mount>

  <!-- Include mirror mounts and sensors -->
  <xacro:include filename="eve_mirror_mount_nw.xacro"/>
  <xacro:include filename="eve_mirror_mount_ne.xacro"/>

  <xacro:mirror_mount_ne parent="lidar_cc">
    <origin xyz="0.924884 -0.972881 -0.840734" rpy="0.017163 0.108708 -0.580009"/>
  </xacro:mirror_mount_ne>

  <xacro:mirror_mount_nw parent="lidar_cc">
    <origin xyz="1.102008 0.748385 -0.824361" rpy="0.049416 0.068287 0.246267"/>
  </xacro:mirror_mount_nw>

</robot>
