version: "3.8"
services:
  vnc:
    build:
      context: ..
      dockerfile: docker/infrastructure/vis_tools/vnc.Dockerfile
      cache_from:
        - "${INFRASTRUCTURE_VIS_TOOLS_VNC_IMAGE:?}:${TAG}"
        - "${INFRASTRUCTURE_VIS_TOOLS_VNC_IMAGE:?}:main"
    image: "${INFRASTRUCTURE_VIS_TOOLS_VNC_IMAGE:?}:${TAG}"
    user: ${FIXUID:?}:${FIXGID:?}
    ports:
      - "${GUI_TOOLS_VNC_PORT:?}:5900"
    environment:
      - VNC_PORT=${GUI_TOOLS_VNC_PORT:?}
