---
services:
  perception_bringup:
    build:
      target: build
    extends:
      file: ../docker-compose.perception.yaml
      service: perception_bringup
    image: "${PERCEPTION_IMAGE:?}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception:/home/bolty/ament_ws/src/perception
    # GPU access required for CUDA acceleration
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  camera_object_detection:
    build:
      target: build
    extends:
      file: ../docker-compose.perception.yaml
      service: camera_object_detection
    image: "${PERCEPTION_CAMERA_OBJECT_DETECTION_IMAGE:?}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/camera_object_detection:/home/bolty/ament_ws/src/camera_object_detection
