version: "3.8"

x-fixuid: &fixuid
  build:
    target: build

services:
  radar_object_detection:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: radar_object_detection
    image: "${PERCEPTION_RADAR_OBJECT_DETECTION_IMAGE:?}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/radar_object_detection:/home/bolty/ament_ws/src/radar_object_detection

  camera_object_detection:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: camera_object_detection
    image: "${PERCEPTION_CAMERA_OBJECT_DETECTION_IMAGE:?}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/camera_object_detection:/home/bolty/ament_ws/src/camera_object_detection

  lidar_object_detection:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: lidar_object_detection
    image: "${PERCEPTION_LIDAR_OBJECT_DETECTION_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/lidar_object_detection:/home/bolty/ament_ws/src/lidar_object_detection

  semantic_segmentation:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: semantic_segmentation
    image: "${PERCEPTION_SEMANTIC_SEGMENTATION_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/semantic_segmentation:/home/bolty/ament_ws/src/semantic_segmentation

  lane_detection:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: lane_detection
    image: "${PERCEPTION_LANE_DETECTION_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/lane_detection:/home/bolty/ament_ws/src/lane_detection

  tracking:
    <<: *fixuid
    extends:
      file: ../docker-compose.perception.yaml
      service: tracking
    image: "${PERCEPTION_TRACKING_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/perception/tracking:/home/bolty/ament_ws/src/tracking
      - ${MONO_DIR}/src/wato_msgs/perception_msgs/tracking_msgs:/home/bolty/ament_ws/src/tracking_msgs
