version: "3.8"

x-fixuid: &fixuid
  build:
    target: build

services:
  hd_map:
    <<: *fixuid
    extends:
      file: ../docker-compose.world_modeling.yaml
      service: hd_map
    image: "${WORLD_MODELING_HD_MAP_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/hd_map

  localization:
    <<: *fixuid
    extends:
      file: ../docker-compose.world_modeling.yaml
      service: localization
    image: "${WORLD_MODELING_LOCALIZATION_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/localization

  occupancy:
    <<: *fixuid
    extends:
      file: ../docker-compose.world_modeling.yaml
      service: occupancy
    image: "${WORLD_MODELING_OCCUPANCY_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/occupancy

  occupancy_segmentation:
    <<: *fixuid
    extends:
      file: ../docker-compose.world_modeling.yaml
      service: occupancy_segmentation
    image: "${WORLD_MODELING_OCCUPANCY_SEGMENTATION_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/occupancy_segmentation

  motion_forecasting:
    <<: *fixuid
    extends:
      file: ../docker-compose.world_modeling.yaml
      service: motion_forecasting
    image: "${WORLD_MODELING_MOTION_FORECASTING_IMAGE}:build_${TAG}"
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/world_modeling:/home/bolty/ament_ws/src/motion_forecasting
