version: "3.8"

x-fixuid: &fixuid
  build:
    target: build

services:
  sensor_interfacing:
    <<: *fixuid
    extends:
      file: ../docker-compose.interfacing.yaml
      service: sensor_interfacing
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/interfacing/sensor_interfacing:/home/bolty/ament_ws/src/sensor_interfacing

  can_interfacing:
    <<: *fixuid
    extends:
      file: ../docker-compose.interfacing.yaml
      service: can_interfacing
    command: tail -F anything
    volumes:
      - ${MONO_DIR}/src/can_interfacing:/home/bolty/ament_ws/src/can_interfacing
