image_width: 1280
image_height: 1024
camera_name: narrow_stereo
camera_matrix:
  rows: 3
  cols: 3
  data: [1014.94623,    0.     ,  612.32507,
            0.     , 1015.20499,  502.49791,
            0.     ,    0.     ,    1.     ]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1
  cols: 5
  data: [-0.108727, 0.074388, -0.004019, -0.002010, 0.000000]
rectification_matrix:
  rows: 3
  cols: 3
  data: [1., 0., 0.,
         0., 1., 0.,
         0., 0., 1.]
projection_matrix:
  rows: 3
  cols: 4
  data: [980.84973,   0.     , 608.03154,   0.     ,
           0.     , 989.61481, 498.23919,   0.     ,
           0.     ,   0.     ,   1.     ,   0.     ]
