name: Check Monorepo Code Styling

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    name: Run C++/Python linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: pip install autopep8 clang-format

      - name: Run linters
        uses: WATonomous/wato-lint-action@v1
        with:
          Autopep8: true
          Autopep8_args: "--max-line-length 100"
          clang_format: true
          clang_format_args: "-style=file"
